@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300&family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
/***** ESTILO GENERAL DEL SITIO WEB *****/
* {
  /* Medidas Resets de las páginas */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Estilos y Configs del Body */
  font-family: "Figtree", sans-serif;
  background-color: #f8f8ff;
  line-height: 1.7em;
  overflow-x: hidden;
  /* Config para el Footer al Píe de la Página */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Estilo del fondo de la página */
  background-image: url(../multimedia/shattered.png);
  background-attachment: fixed;
}

.italic {
  /* Spans en formato Italic */
  font-style: italic;
}

.bold {
  /* Spans en formato Bold */
  font-weight: bold;
}

/***** ESTILO GENERAL DEL NAV *****/
.header__nav {
  /* Config básica del NavbBar */
  background-color: #045CAC;
  height: 4em;
}

.header__container {
  /* Config del posicionamiento del NavBar Desktop */
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__label {
  /* Botón Menú Responsive Oculto */
  display: none;
}
.header__label i {
  /* Estilos del Botón Menú Responsive */
  color: #fff;
  width: 40px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.header__item {
  /* Config de los links de la lista visible */
  color: #fff;
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.5s;
}
.header__item:hover {
  /* Animación de los links de la lista visible y desplegable */
  color: #e2c713;
}

.header__div {
  /* Config del contenedor del logo y el nombre de la página */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__svg {
  /* Configs del SVG logo */
  width: 95px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__logo {
  /* Config del Título Logo */
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.header__input {
  /* Botón Menú Responsive Oculto */
  display: none;
}
.header__input:checked + .header__nav--menu ul {
  /* Color de fondo del Menú Responsive */
  background-color: #045CAC;
}

.header__nav--menu {
  margin: 0;
}
.header__nav--menu ul {
  /* Config de las listas del NavBar */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Estilos de los enlaces */
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
.header__nav--menu li {
  /* Config de los elementos de la lista visible */
  line-height: 3.5em;
  position: relative;
  transition: 0.5s;
}
.header__nav--menu li ul {
  /* Config de los elementos de la lista desplegable */
  display: block;
  position: absolute;
  top: 3.54em;
  z-index: 10;
  text-transform: none;
}
.header__nav--menu li i {
  /* Config de los iconos de la lista visible */
  margin-left: 3px;
  margin-right: 1.1em;
  width: 7px;
  color: #e2c713;
}
.header__nav--menu li li {
  /* Config de los elementos desplegables */
  background-color: #2474BC;
  line-height: 3em;
  width: 140%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s;
}
.header__nav--menu li:hover li {
  /* Animación de los items de la lista desplegable */
  color: #000;
  max-height: 500px;
  overflow: visible;
}
.header__nav--menu > ul > li {
  /* Config de los hijos li de Colecciones a padre ul directo */
  display: inline-block;
}
.header__nav--menu > li > li > i {
  /* Diseño de los íconos del menú desplegable */
  width: 7px;
  color: #e2c713;
}

#down {
  /* Icono Barra abajo del Menú Responsive enlace "Colecciones" */
  display: none;
}

/***** ESTILOS GENERALES DE LOS ENCABEZADOS *****/
.header__h1 {
  /* Título principal de todas las páginas*/
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
}

.header__h2 {
  /* Título secundario de todas las páginas*/
  padding: 5px;
  margin: 10px 50px 10px 50px;
  font-size: 2rem;
}

.header__img {
  /* Imagen principal de todas las páginas (en caso de existir)*/
  display: block;
  margin: auto;
  filter: drop-shadow(7px 7px 15px #000);
  width: 50%;
}

.header__img--principal {
  /* Config especial para imagen de la pag ppal */
  width: 20%;
}

.header__img--megarace {
  /* Config especial para imagen de MegaRace */
  filter: drop-shadow(7px 7px 15px #fff);
}

/***** ESTILOS GENERALES DE LOS ARTICULOS *****/
main {
  /* Medida de las dos secciones: article,aside/bootstrap */
  width: 99vw;
}

.section__h2 {
  /* Config de los títulos del blog */
  padding: 5px;
  margin: 10px 40px 10px 40px;
  font-size: 2rem;
}

.section__h3 {
  /* Config de los sub títulos del blog */
  padding: 5px;
  margin: 10px 25px 10px 25px;
  font-size: 1.5rem;
}

.section__text {
  /* Config del articulo del blog */
  padding: 5px;
  margin: 10px 25px 10px 25px;
  font-size: 1rem;
  text-align: justify;
}

.section__list {
  /* Config de las listas del blog */
  padding: 5px;
  margin: 10px 70px 10px 70px;
  font-size: 1rem;
}
.section__list li::marker {
  /* Config de los bullets de las listas del blog */
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.section__img {
  /* Configs de las imágenes del blog */
  display: block;
  width: 400px;
  margin: 10px auto;
  border: #000 1px solid;
}

.section__img--li {
  /* Config de posicionamiento de las imágenes dentro de las listas */
  display: block;
  margin: 10px 225px;
}

.section__img--sm {
  /* Config espécifica de Serie Maestra */
  width: 300px;
}

.section__div--img {
  /* Config del posicionamiento de las imágenes dobles */
  display: flex;
  justify-content: center;
  gap: 0;
}

.section__img--nosotros {
  border: none;
  border-radius: 25px;
  margin-inline: 40px;
}

.section__img--a {
  width: 350px;
  float: right;
}

.section__img--b {
  float: left;
}

.section__table {
  /* Config de la tabla del index */
  max-width: 65vw;
  margin: 20px auto;
}

#megarace {
  /* Config de la tabla de la página MegaRace */
  max-width: 60vw;
  margin: 10px auto;
}

/***** ESTILOS GENERALES DEL FORMULARIO DE CONTACTO *****/
#contacto {
  /* Config de la hoja formulario */
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.suscribe {
  /* Distribución de Suscribe */
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aportes {
  /* Distribución de Contacto */
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/***** ESTILOS DE LOS INPUTS *****/
.section__input {
  /* Estilo en reposo Input de subs y contacto */
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: #2C7CBC 2px solid;
  background: transparent;
  font-size: 18px;
}
.section__input:focus {
  /* Estilo en uso input de subs y contacto */
  outline-color: #2C7CBC;
}
.section__input:valid {
  /* Estilo del imput con los valores correctos */
  border: 2px solid #25d366;
}
.section__input::placeholder {
  /* Color del texto predeterminado */
  color: #7f7f7f;
}

.section__button {
  /* Estilo en pasivo de los botones subs y enviar */
  width: 40%;
  height: 45px;
  border-radius: 4px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to right, #004a86, #2C7CBC);
  font-size: 20px;
  overflow: hidden;
  transition: all 0.7s;
}
.section__button:hover {
  /* Estilo en uso de los botones subs y enviar */
  overflow: visible;
  cursor: pointer;
  transform: scale(1.1);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.7s;
  color: #bbb;
}

.send {
  /* Estilo en pasivo del boton enviar */
  width: 15%;
}

.textarea {
  /* Estilo y configs del textarea */
  min-width: 400px;
  min-height: 100px;
  resize: none;
}

/***** ESTILOS GENERALES PARA LOS ASIDE *****/
.aside {
  /* Configs de los Contenido+ de las páginas (donde se encuentren) */
  position: sticky;
  top: 25px;
  margin: 10px;
  border: solid 2px #000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #7CACD4, #4C7AAA);
}
.aside a {
  /* Config de los links a los distintos contenidos */
  display: block;
  text-align: center;
  text-decoration: none;
  color: #f7f2dc;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 5px;
}
.aside img {
  /* Configs de las imágenes de los Contenido+ */
  width: 110px;
  padding: 4px;
  transition: transform 0.9s;
}
.aside img:hover {
  /* Animación para los hover de los aside */
  transform: scale(1.1);
}
.aside iframe {
  /* Config de los Iframes */
  transition: transform 1.5s;
}
.aside iframe:hover {
  /* Animación para los hover de los aside */
  transform: scale(1.1);
}

.aside--megarace {
  /* Posicionamiento del Aside Mega Race */
  top: 80px;
}

.aside--nosotros {
  /* Config del Aside Nosotros */
  position: inherit;
  margin-block: 3rem;
}

.aside__h2 {
  /* Título de Contenido+ de los aside */
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  color: #f7f2dc;
  text-transform: uppercase;
}

.aside__div {
  /* Posicionamiento de los elementos a visualizar (imagenes, videos, etc) */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aside__div--video {
  /* Config específica de los videos del Contenido+ */
  height: 200px;
}

.aside__div--sound {
  /* Config específica de las playlist del Contenido+ */
  height: 90px;
}

.aside__text {
  /* Texto de la página Nosotros */
  padding: 5px;
  margin: 0 10px 0 10px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.line {
  /* Línea decorativa de Galería */
  width: 90%;
  margin: 10px auto;
  border-top: #045CAC 5px solid;
  border-radius: 25px;
}

.gallery {
  /* Config de la distribución de la Galería */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery img {
  /* Configs de las imágenes en Galería */
  width: 275px;
  padding: 5px;
  opacity: 90%;
  filter: grayscale(50%);
  transition: all 0.8s;
  z-index: 9;
}
.gallery img:hover {
  /* Efecto de las imágenes */
  opacity: 1;
  filter: grayscale(0);
  transform: scale(1.07);
  z-index: 10;
}

.regreso {
  /* Línea de Regreso*/
  margin: 10px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.regreso__a {
  /* Config del enlace */
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}

.regreso__i {
  /* Config del ícono */
  font-size: 1.2em;
}

/***** ESTILOS GENERALES PARA LOS FOOTERS *****/
.footer--grid {
  /* Configs de posicionamiento del footer */
  margin-top: auto;
  padding: 10px 0;
  font-size: 14px;
  background-color: #2C7CBC;
  color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer--grid p {
  /* Reseteo de los márgenes de Bootstrap en el footer */
  margin-bottom: 0;
}
.footer--grid a {
  /* Decoración del link que lleva a Contacto */
  color: #000;
}

.footer__contacto {
  /* Dirección específica de la página de Contacto */
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__div:last-child {
  /* Config del segundo div hijo de footer */
  display: flex;
}

.footer__copy {
  /* config de los hijos del segundo div hijo del footer */
  margin: 0 3rem;
}

.footer__socialmedia {
  /* config de los hijos del segundo div hijo del footer */
  margin: 0 3rem;
  /* Aparienca de los enlaces e íconos de redes sociales */
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer__socialmedia a {
  /* Configs de los links de las redes sociales */
  text-decoration: none;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
}
.footer__socialmedia i {
  /* Configs de los íconos de las redes sociales */
  font-size: 25px;
  cursor: pointer;
}

/***** RESPONSIVE DESIGN *****/
@media (max-width: 900px) {
  .row {
    /* Reseteo de Bootstrap */
    margin: 0;
  }
  /***** ENCABEZADO Y NAVMENÚ *****/
  .header--grid {
    /* Posicionamiento del body en Responsive */
    padding-top: 55px;
  }
  .header__nav {
    /* Configu del NavBar con Botón */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .header__div {
    /* Posicionamiento del logo de la página */
    margin-left: 0px;
  }
  .header__label {
    /* Config del Botón */
    display: block;
    cursor: pointer;
    margin: auto 50px;
  }
  #down {
    /* Icono desplegable de "Colecciones" */
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 10px;
    margin-right: 0;
  }
  .header__nav--menu {
    /* Posicionamiento de los enlaces */
    position: fixed;
    top: 4em;
    bottom: 0;
    width: 30%;
    right: 0;
  }
  .header__nav--menu ul {
    /* Config del menú escondido */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Animación del menú escondido */
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 0.7s ease-in-out;
  }
  .header__nav--menu li {
    /* Decoración y posición de los enlaces */
    width: 100%;
    border-bottom: 1px solid #000;
    text-align: center;
  }
  .header__nav--menu li ul {
    /* Config de la lista desplegable */
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .header__nav--menu li li {
    /* Estilo de la lista desplegable */
    border: none;
  }
  .header__input:checked + .header__nav--menu ul {
    /* Animación del menú al desplegarse */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header__item {
    /* Config de los enlaces */
    margin: 15px 0;
  }
  .header__responsive--tablet {
    /* Span dentro del nombre del título para su distribución correcta */
    display: block;
  }
  .header__img {
    /* Posicionamiento de las imágenes de la cabecera */
    width: auto;
    width: 600px;
  }
  .header__h2 {
    /* Posicionamiento de los títulos y subtítulos */
    text-align: center;
  }
  .section__h2 {
    /* Posicionamiento de los títulos y subtítulos */
    text-align: center;
  }
  .section__h3 {
    /* Posicionamiento de los títulos y subtítulos */
    text-align: center;
  }
  /***** ARTÍCULO PRINCIPAL *****/
  .section__img {
    /* Posicionamiento de las imágenes */
    margin: 10px auto;
  }
  .section__div--img img {
    /* Posicionamiento de las imágenes demostrativas y de ejemplos en OtrasCartas */
    width: 310px;
    margin: 1 auto;
  }
  .section__img--nosotros {
    /* Config de las imágenes de Nosotros */
    margin-inline: 30px;
  }
  /***** GALERÍA *****/
  .line {
    /* Línea decorativa */
    border-top: #045CAC 3px solid;
  }
  .gallery {
    /* Distribución de la Galería */
    gap: 0;
  }
  .gallery img {
    /* Tamaño de las Img en Responsive */
    padding: 5px;
    max-width: 180px;
  }
  /***** FORMULARIO DE CONTACTO *****/
  #contacto {
    /* Config del apartado del formulario de contacto */
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .section__button {
    /* Botón suscribirse */
    width: 30%;
  }
  .send {
    /* Botón enviar */
    width: 20%;
  }
  /***** ASIDE *****/
  .aside--grid {
    /* Tamaño del Aside */
    width: 80%;
    margin: auto;
  }
  .aside__div--img {
    /* Distribución de las imágenes del Aside */
    gap: 5px 20px;
  }
  .aside img:hover {
    /* Animación para los hover de los aside */
    transform: none;
  }
  .aside iframe:hover {
    /* Animación para los hover de los aside */
    transform: none;
  }
  .aside--nosotros {
    /* Espaciado de los Aside de Nosotros */
    margin-block: 1rem;
  }
  /***** PIE DE PÁGINA *****/
  .footer--grid {
    /* Config del footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
  }
  .footer__contacto {
    /* Posicionamiento del primer hijo del footer */
    display: flex;
    flex-direction: row;
  }
  .footer__div:last-child {
    /* Posicionamientro del segundo hijo del footer */
    line-height: 35px;
  }
  .footer__responsive {
    /* Copyright */
    display: block;
  }
  .footer__div--socialmedia {
    /* Posicionamiento de los íconos de redes */
    display: flex;
    justify-content: center;
  }
  .footer__div--socialmedia i {
    /* Íconos de Redes */
    margin: 0 10px;
  }
}
@media (max-width: 600px) {
  /***** ENCABEZADO Y NAVMENÚ *****/
  .header__nav--menu {
    /* Tamaño de la barra oculta */
    width: 55%;
  }
  .header__h1 {
    /* Config del título del encabezado */
    font-size: 2rem;
    line-height: 35px;
    letter-spacing: 3px;
  }
  .header__img {
    /* Tamaño de la imagén del encabezado */
    width: 350px;
  }
  .header__h2 {
    /* Tamaño del sutítulo del encabezado */
    font-size: 1.5rem;
    padding: 0;
  }
  .header__responsive {
    /* Span dentro del nombre del título para su distribución correcta */
    display: block;
  }
  /***** ARTÍCULO PRINCIPAL *****/
  .section__list {
    /* Posicionamiento de las listas */
    margin: 0 30px;
  }
  .section__img {
    /* Config de las imágenes */
    width: 300px;
    margin: 10px auto;
  }
  .section__img--li {
    /* Config de las imágenes dentro de las listas */
    width: 300px;
  }
  .section__div--img {
    flex-direction: column;
  }
  .section__img--nosotros {
    /* Config de las imágenes de Nosotros */
    float: none;
  }
  .section__responsive {
    /* Span dentro del section para su distribución correcta */
    display: block;
  }
  /***** FORMULARIO DE CONTACTO *****/
  .section__button {
    /* Tamaño del botón de suscribirse */
    width: 40%;
  }
  .send {
    /* Tamaño del botón de enviar */
    margin-bottom: 15px;
    width: 30%;
  }
  .section__input {
    /* Tamaño de los inputs del formulario */
    width: 75%;
  }
  .textarea {
    /* Tamaño del textarea del formulario */
    min-width: 321px;
  }
  /***** GALERÍA *****/
  /***** ASIDE *****/
  .aside--grid {
    /* Posicionamiento del contenido+ */
    width: 100%;
    margin: auto;
  }
  .aside__div--img {
    /* Separación de las imágenes dentro de contenido+ */
    gap: 0;
  }
  .aside__div--img img {
    /* Tamaño de las imágenes del contenido+ */
    width: 80px;
  }
  .aside__div--sound iframe {
    /* Tamaño de la barra de lista de reproducción del contenido+ */
    width: 300px;
  }
  .aside img:hover {
    /* Animación para los hover de los aside */
    transform: none;
  }
  .aside iframe:hover {
    /* Animación para los hover de los aside */
    transform: none;
  }
  .aside__responsive {
    /* Span dentro del ancla Kile Petty para su distribución correcta */
    display: block;
  }
  /***** PÍE DE PÁGINA *****/
  .footer__div:first-child p {
    /* Posicionamiento del texto de suscribirse */
    margin: 2px;
  }
  .footer__div:last-child {
    /* Posicionamiento del div que contiene copy y socialmedia */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  .footer__copy {
    /* Config de Copyright */
    line-height: 30px;
    margin: 0;
  }
  .footer__div--socialmedia {
    /* Posicionamiento de los íconos de redes sociales */
    flex-direction: column;
    margin: 0;
  }
}

/*# sourceMappingURL=estilo.css.map */
