@mixin titulos ($espaciado, $margen, $size) {
    padding: $espaciado;
    margin: $margen $margen;
    font-size: $size;
}
/***** ESTILOS GENERALES DE LOS ARTICULOS *****/
main {
    /* Medida de las dos secciones: article,aside/bootstrap */
	width: 99vw;
}
.section__h2 {
    /* Config de los títulos del blog */
	@include titulos(5px, 10px 40px, 2rem);
}
.section__h3 {
    /* Config de los sub títulos del blog */
	@include titulos(5px, 10px 25px, 1.5rem);
}
.section__text {
    /* Config del articulo del blog */
	@include titulos(5px, 10px 25px, 1rem);
	text-align: justify;
}
.section__list {
    /* Config de las listas del blog */
	@include titulos(5px, 10px 70px, 1rem);
	li {
		&::marker {
            /* Config de los bullets de las listas del blog */
			color: $color_4;
			font-weight: bold;
		}
	}
}
.section__img {
    /* Configs de las imágenes del blog */
	display: block;
	width: 400px;
	margin: 10px auto;
	border: #000 1px solid;
}
.section__img--li {
    /* Config de posicionamiento de las imágenes dentro de las listas */
	display: block;
	margin: 10px 225px;
}
.section__img--sm{
	/* Config espécifica de Serie Maestra */
	width: 300px;
}
.section__div--img {
	/* Config del posicionamiento de las imágenes dobles */
	display: flex;
	justify-content: center;
	gap: 0;
}
.section__img--nosotros {
	/* Estilo y posicionamiento de lás imágenes en Nosotros */
	border: none;
	border-radius: 25px;
	margin-inline: 40px;
}
.section__img--a {
	/* Config de la imagen arriba del section en Nosotros */
	width: 350px;
	float: right;
}
.section__img--b {
	/* Config de la imagen abajo del section en Nosotros */
	float: left;
}
.section__table {
    /* Config de la tabla del index */
	max-width: 65vw;
	margin: 20px auto;
}
#megarace {
    /* Config de la tabla de la página MegaRace */
	max-width: 60vw;
	margin: 10px auto;
}