/***** RESPONSIVE DESIGN *****/
@media (max-width: 900px) {
	.row {
        /* Reseteo de Bootstrap */
		margin: 0;
	}
    /***** ENCABEZADO Y NAVMENÚ *****/
	.header--grid {
        /* Posicionamiento del body en Responsive */
		padding-top: 55px;
	}
	.header__nav {
        /* Configu del NavBar con Botón */
		display: flex;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
	.header__div {
		/* Posicionamiento del logo de la página */
		margin-left: 0px;
	}
	.header__label {
        /* Config del Botón */
		display: block;
		cursor: pointer;
		margin: auto 50px;
	}
	#down {
        /* Icono desplegable de "Colecciones" */
		display: inline-block;
		position: relative;
		bottom: 3px;
		margin-left: 10px;
		margin-right: 0;
	}
	.header__nav--menu {
        /* Posicionamiento de los enlaces */
		position: fixed;
		top: 4em;
		bottom: 0;
		width: 30%;
		right: 0;
		ul {
            /* Config del menú escondido */
			display: flex;
			flex-direction: column;
			align-items: center;
            /* Animación del menú escondido */
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
			transition: all 0.7s ease-in-out;
		}
		li {
            /* Decoración y posición de los enlaces */
			width: 100%;
			border-bottom: 1px solid #000;
			text-align: center;
			ul {
                /* Config de la lista desplegable */
				width: 100%;
				position: relative;
				top: 0;
				display: flex;
				flex-direction: column;
			}
			li {
                /* Estilo de la lista desplegable */
				border: none;
			}
		}
	}
	.header__input {
		&:checked {
			+ {
				.header__nav--menu {
					ul {
                        /* Animación del menú al desplegarse */
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}
	.header__item {
        /* Config de los enlaces */
		margin: 15px 0;
	}
	.header__responsive--tablet {
        /* Span dentro del nombre del título para su distribución correcta */
		display: block;
	}
    .header__img {
        /* Posicionamiento de las imágenes de la cabecera */
		width: auto;
		width: 600px;
	}
	.header__img--principal {
		/* Config de la imagen de cabecera de Inicio */
		width: 50%;
	}
	.header__img--otros {
		width: 90%;
	}
	.header__h2 {
        /* Posicionamiento de los títulos y subtítulos */
		text-align: center;
	}
	.section__h2 {
        /* Posicionamiento de los títulos y subtítulos */
		text-align: center;
	}
	.section__h3 {
        /* Posicionamiento de los títulos y subtítulos */
		text-align: center;
	}
    /***** ARTÍCULO PRINCIPAL *****/
	.section__img {
        /* Posicionamiento de las imágenes */
		margin: 10px auto;
	}
	.section__div--img {
		img {
            /* Posicionamiento de las imágenes demostrativas y de ejemplos en OtrasCartas */
			width: 310px;
			margin: 1 auto;
		}
	}
	.section__img--nosotros {
		/* Config de las imágenes de Nosotros */
		margin-inline: 30px;
	}
	/***** GALERÍA *****/
	.line {
		/* Línea decorativa */
		border-top: $background-color_2 3px solid;
	}
	.gallery {
		/* Distribución de la Galería */
		img {
			/* Tamaño de las Img en Responsive */
			padding: 5px;
			max-width: 180px;
		}
		gap: 0;
	}
    /***** FORMULARIO DE CONTACTO *****/
	#contacto {
        /* Config del apartado del formulario de contacto */
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.section__button {
        /* Botón suscribirse */
		width: 30%;
	}
	.send {
        /* Botón enviar */
		width: 20%;
	}
	/***** ASIDE *****/
	.aside--grid {
        /* Tamaño del Aside */
		width: 80%;
		margin: auto;
	}
	.aside__div--img {
        /* Distribución de las imágenes del Aside */
		gap: 5px 20px;
	}
	.aside {
		img {
			&:hover {
                /* Animación para los hover de los aside */
				transform: none;
			}
		}
		iframe {
			&:hover {
                /* Animación para los hover de los aside */
				transform: none;
			}
		}
	}
	.aside--nosotros {
		/* Espaciado de los Aside de Nosotros */
		margin-block: 1rem;
	}
    /***** PIE DE PÁGINA *****/
	.footer--grid {
        /* Config del footer */
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 10px 0;
	}
	.footer__contacto {
        /* Posicionamiento del primer hijo del footer */
		display: flex;
		flex-direction: row;
	}
	.footer__div {
		&:last-child {
            /* Posicionamientro del segundo hijo del footer */
			line-height: 35px;
		}
	}
	.footer__responsive {
        /* Copyright */
		display: block;
	}
	.footer__socialmedia {
        /* Posicionamiento de los íconos de redes */
		display: flex;
		justify-content: center;
		i {
            /* Íconos de Redes */
			margin: 0 10px;
		}
	}
}
@media (max-width:600px) {
    /***** ENCABEZADO Y NAVMENÚ *****/
	.header__nav--menu {
        /* Tamaño de la barra oculta */
		width: 55%;
	}
	.header__h1 {
        /* Config del título del encabezado */
		font-size: 2rem;
		line-height: 35px;
		letter-spacing: 3px;
	}
	.header__img {
        /* Tamaño de la imagén del encabezado */
		width: 350px;
	}
	.header__h2 {
        /* Tamaño del sutítulo del encabezado */
		font-size: 1.5rem;
		padding: 0;
	}
	.header__responsive {
        /* Span dentro del nombre del título para su distribución correcta */
		display: block;
	}
    /***** ARTÍCULO PRINCIPAL *****/
	.section__list {
        /* Posicionamiento de las listas */
		margin: 0 30px;
	}
	.section__img {
        /* Config de las imágenes */
		width: 300px;
		margin: 10px auto;
	}
	.section__img--li {
        /* Config de las imágenes dentro de las listas */
		width: 300px;
	}
	.section__div--img {
		flex-direction: column;
	}
	.section__img--nosotros {
		/* Config de las imágenes de Nosotros */
		float: none;
	}
	.section__responsive {
		/* Span dentro del section para su distribución correcta */
		display: block;
	}
    /***** FORMULARIO DE CONTACTO *****/
	.section__button {
        /* Tamaño del botón de suscribirse */
		width: 40%;
	}
	.send {
        /* Tamaño del botón de enviar */
		margin-bottom: 15px;
		width: 30%;
	}
	.section__input {
        /* Tamaño de los inputs del formulario */
		width: 75%;
	}
	.textarea {
        /* Tamaño del textarea del formulario */
		min-width: 321px;
	}
	/***** GALERÍA *****/

    /***** ASIDE *****/
	.aside--grid {
        /* Posicionamiento del contenido+ */
		width: 100%;
		margin: auto;
	}
	.aside__div--img {
        /* Separación de las imágenes dentro de contenido+ */
		gap: 0;
		img {
            /* Tamaño de las imágenes del contenido+ */
			width: 80px;
		}
	}
	.aside__div--sound {
		iframe {
            /* Tamaño de la barra de lista de reproducción del contenido+ */
			width: 300px;
		}
	}
	.aside {
		img {
			&:hover {
                /* Animación para los hover de los aside */
				transform: none;
			}
		}
		iframe {
			&:hover {
                /* Animación para los hover de los aside */
				transform: none;
			}
		}
	}
	.aside__responsive {
        /* Span dentro del ancla Kile Petty para su distribución correcta */
		display: block;
	}
    /***** PÍE DE PÁGINA *****/
	.footer__div {
		&:first-child {
			p {
                /* Posicionamiento del texto de suscribirse */
				margin: 2px;
			}
		}
		&:last-child {
            /* Posicionamiento del div que contiene copy y socialmedia */
			align-items: center;
			justify-content: space-around;
			gap: 20px;
		}
	}
	.footer__copy {
        /* Config de Copyright */
		line-height: 30px;
		margin: 0;
	}
	.footer__socialmedia {
        /* Posicionamiento de los íconos de redes sociales */
		flex-direction: column;
		margin: 0;
	}
}
